<div class="clear"></div>
<div id="footer">
    <div class="foot">
        <div class="foot-contact">
            <h2>摩迪自动化设备</h2>
            <div class="con">
                <p>广州市天河区大灵山路18号7栋Y117 </p>
                <p>18928941406 张工 <br />13802532003 梁工 </p>
                <p> QQ：29716991</p>
            </div>
        </div>
        <div class="foot-menu">
            <dl>
                <dt>关于摩迪</dt>
                <dd>
                    <a href="#">公司简介</a>
                    <a href="#">企业文化</a>
                    <a href="#">组织架构</a>
                    <a href="#">资质荣誉</a>
                    <a href="#">联系我们</a>
                </dd>
            </dl>
            <dl>
                <dt>新闻中心</dt>
                <dd>
                    <a href="#">公司简介</a>
                    <a href="#">企业文化</a>
                    <a href="#">组织架构</a>
                    <a href="#">资质荣誉</a>
                    <a href="#">联系我们</a>
                </dd>
            </dl>
            <dl>
                <dt>产品服务</dt>
                <dd>
                    <a href="#">公司简介</a>
                    <a href="#">企业文化</a>
                    <a href="#">组织架构</a>
                    <a href="#">资质荣誉</a>
                    <a href="#">联系我们</a>
                </dd>
            </dl>
            <dl>
                <dt>解决方案</dt>
                <dd>
                    <a href="#">公司简介</a>
                    <a href="#">企业文化</a>
                    <a href="#">组织架构</a>
                    <a href="#">资质荣誉</a>
                    <a href="#">联系我们</a>
                </dd>
            </dl>
            <dl>
                <dt>成功案例</dt>
                <dd>
                    <a href="#">公司简介</a>
                    <a href="#">企业文化</a>
                    <a href="#">组织架构</a>
                    <a href="#">资质荣誉</a>
                    <a href="#">联系我们</a>
                </dd>
            </dl>
            <dl>
                <dt> 合作建设</dt>
                <dd>
                    <a href="#">公司简介</a>
                    <a href="#">企业文化</a>
                    <a href="#">组织架构</a>
                    <a href="#">资质荣誉</a>
                    <a href="#">联系我们</a>
                </dd>
            </dl>
            <dl>
                <dt> 体验中心</dt>
                <dd>
                    <a href="#">公司简介</a>
                    <a href="#">企业文化</a>
                    <a href="#">组织架构</a>
                    <a href="#">资质荣誉</a>
                    <a href="#">联系我们</a>
                </dd>
            </dl>

        </div>
        <div class="clear"></div>
        <div class="copyright">
            <p class="">版权所有©2017  广州摩迪自动化设备有限公司   粤ICP备15014080号</p>
        </div>
    </div>
    <div class="clear"></div>

</div>

<!--footer end-->
<script src="__js__/js/jquery.js"></script>
<script>
    $(document).ready(function(){
        $(".level  li > a").click(function(){
            $(this).addClass('current').parent().siblings().children('a').removeClass("current")
        });
    });
</script>


