<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>摩迪自动化设备</title>
    <link href="__css__/css/global.css" rel="stylesheet" type="text/css" />
    <link href="__css__/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__css__/css/swiper.min.css" rel="stylesheet" type="text/css" />
</head>

<body>

<!--header begin-->
<div id="header">
    <div class="top"></div>
    <div class="head">
        <h1 class="logo"><a href="index.html"><img src="__css__/images/global/logo.png" /></a></h1>
        <div class="right">
            <div class="mobile-version">
                <span class="mt">官网移动版</span>
                <span class="mc">
                    <span class="arrow"><img src="__css__/images/global/home1_10.png" /></span>
                    <span class="ewm"><img src="__STATIC__/upload/{$erweima.image_path}" /></span>
                </span>
            </div>
            <ul class="menu">
                <li><a href="{:url('index/index')}" class="current">首页 </a></li>
                <li><a href="{:url('about/about')}">关于摩迪</a></li>
                <li><a href="{:url('news/news')}">新闻中心 </a></li>
                <li><a href="{:url('product/product')}">产品服务</a></li>
                <li><a href="{:url('index/solution')}">解决方案</a></li>
                <li><a href="{:url('index/index_case')}">成功案例</a></li>
                <li><a href="{:url('index/cooperation')}">合作建设</a></li>
                <li><a href="{:url('index/experience')}">体验中心</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>