{include file="public/head" /}
<!--banner begin-->
<div id="about-ban">
    <img src="__css__/images/ban01.jpg" />
</div>
<!--banner end-->
<!--main begin-->
<div id="main"> 

    <div class="classbar">
        <h2><i>01</i><span>体验中心</span></h2>
        <ul class="level">
            <li><a href="#" class="current">关于我们</a></li>
            <li><a href="#">企业大事记</a></li>
            <li><a href="#">企业文化</a></li>
            <li><a href="#">企业荣誉</a></li>
            <li><a href="#">领导关怀	</a></li>
            <li><a href="#">员工风采</a></li>
        </ul>
    </div>
    
    <div class="column1 sidebar1">
        <div class="th">
            <h2><i></i><span class="zhong-da">体验中心</span><span class="en-xiao">EXPERIENCE CENTER</span><div class="clear"></div></h2>
            <div class="current-position">您现在的位置：<a href="#">首页</a> - 体验中心</div>
        </div>
        <div class="con">
            <div class="pic"><img src="__css__/images/tu4.jpg" /></div>
            <div class="text">
                
                <p>在工业自动化领域，有成千上万的感应器，检测器，计算机，PLC，读卡器等设备，需要互相连接形成一个控制网络，通常这些设备提供的通信接口是RS-232或RS-485。无线局域网设备使用隔离型信号转换器，将工业设备的RS-232串口信号与无线局域网及以太网络信号相互转换，符合无线局域网IEEE 802.11b和以太网络IEEE 802.3标准，支持标准的TCP/IP网络通信协议，有效的扩展了工业设备的联网通信能力。
计算机网络技术、无线技术以及智能传感器技术的结合，产生了"基于无线技术的网络化智能传感器"的全新概念。这种基于无线技术的网络化智能传感器使得工业现场的数据能够通过无线链路直接在网络上传输、发布和共享。无线局域网技术能够在工厂环境下，为各种智能现场设备、移动机器人以及各种自动化设备之间的通信提供高带宽的无线数据链路和灵活的网络拓扑结构，在一些特殊环境下有效地弥补了有线网络的不足，进一步完善了工业控制网络的通信性能。在工业自动化领域，有成千上万的感应器，检测器，计算机，PLC，读卡器等设备，需要互相连接形成一个控制网络，通常这些设备提供的通信接口是RS-232或RS-485。无线局域网设备使用隔离型信号转换器，将工业设备的RS-232串口信号与无线局域网及以太网络信号相互转换，符合无线局域网IEEE 802.11b和以太网络IEEE 802.3标准，支持标准的TCP/IP网络通信协议，有效的扩展了工业设备的联网通信能力。
计算机网络技术、无线技术以及智能传感器技术的结合，产生了"基于无线技术的网络化智能传感器"的全新概念。这种基于无线技术的网络化智能传感器使得工业现场的数据能够通过无线链路直接在网络上传输、发布和共享。无线局域网技术能够在工厂环境下，为各种智能现场设备、移动机器人以及各种自动化设备之间的通信提供高带宽的无线数据链路和灵活的网络拓扑结构，在一些特殊环境下有效地弥补了有线网络的不足，进一步完善了工业控制网络的通信性能。… </p>
            </div>
        </div>
        
    </div>

</div>
<!--main end-->
{include file="public/foot" /}
</body>
</html>