{include file="public/head" /}
<!--header end-->
<!--banner begin-->
<div id="about-ban">
    <img src="__css__/images/ban01.jpg" />
</div>
<!--banner end-->
<!--main begin-->
<div id="main"> 

    <div class="classbar">
        <h2><i>01</i><span>成功案例</span></h2>
        <ul class="level">
            <li><a href="#" class="current">工业自动化</a></li>
            <li><a href="#">工业信息化</a></li>
            <li><a href="#">电气供配电</a></li>
            <li><a href="#">工业信息化</a></li>
            <li><a href="#">电气供配电</a></li>
        </ul>
    </div>
    
    <div class="column1 sidebar1"> 
        <div class="th">
            <h2><i></i><span class="zhong-da">成功案例</span><span class="en-xiao">SUCCESSFUL CASE </span><div class="clear"></div></h2>
            <div class="current-position">您现在的位置：<a href="#">首页</a> - 成功案例</div>
        </div>
        <ul class="listD1">
            {volist id='list' name='image'}
            <li>
                <h5><a href="product-details.html">{$list.name}</a></h5>
                {volist id='vo' name='picture'}{if condition='$list.id eq $vo.image_id'}<div class="pic"><a href="product-details.html"><img src="__STATIC__/upload/{$vo.image_path}" /></a></div>{/if}{/volist}
                <div class="text">{$list.abstract}</div>
            </li>
            {/volist}
        </ul>
     <!--   <div class="pagelist">
                <a href="#" class="cur">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#" class="next">下一页</a>
            </div>-->
    </div>

</div>
<!--main end-->
<!--footer begin-->
{include file="public/foot" /}
</body>
</html>
