{include file="public/head" /}
<!--banner begin-->
<div id="about-ban">
    <img src="__css__/images/ban01.jpg" />
</div>
<!--banner end-->
<!--main begin-->
<div id="main"> 

    <div class="classbar">
        <h2><i>01</i><span>解决方案</span></h2>
        <ul class="level">
        <li><a href="#" class="current">解决方案</a></li>
        <li><a href="#">解决方案</a></li>
        <li><a href="#">解决方案</a></li>
    </ul>
    </div>
    
    <div class="column1 sidebar1"> 
        <div class="th">
            <h2><i></i><span class="zhong-da">解决方案</span><span class="en-xiao">SOLUTION</span><div class="clear"></div></h2>
            <div class="current-position">您现在的位置：<a href="#">首页</a> - 解决方案</div>
        </div>
        <ul class="list5">
            <li>
                <div class="title"><a href="news-details.html">苏州太湖度假区电瓶车运营项目</a></div>
                <div class="time">[2017-03-20]</div>
            </li>
            <li>
                <div class="title"><a href="news-details.html">公司设立 </a></div>
                <div class="time">[2017-03-20]</div>
            </li>
            <li>
                <div class="title"><a href="news-details.html">双赢伟业新一代MES项目正式启动</a></div>
                <div class="time">[2017-03-20]</div>
            </li>
            <li>
                <div class="title"><a href="">苏州吴中"环太湖"国际竞走和行走多日赛</a></div>
                <div class="time">[2017-03-20]</div>
            </li>
            <li>
                <div class="title"><a href="">苏州太湖度假区电瓶车运营项目</a></div>
                <div class="time">[2017-03-20]</div>
            </li>
            <li>
                <div class="title"><a href="">公司设立 </a></div>
                <div class="time">[2017-03-20]</div>
            </li>
            <li>
                <div class="title"><a href="">双赢伟业新一代MES项目正式启动</a></div>
                <div class="time">[2017-03-20]</div>
            </li>
            <li>
                <div class="title"><a href="">苏州吴中"环太湖"国际竞走和行走多日赛</a></div>
                <div class="time">[2017-03-20]</div>
            </li>
            <li>
                <div class="title"><a href="">苏州太湖度假区电瓶车运营项目</a></div>
                <div class="time">[2017-03-20]</div>
            </li>
            <li>
                <div class="title"><a href="">公司设立 </a></div>
                <div class="time">[2017-03-20]</div>
            </li>
            <li>
                <div class="title"><a href="">双赢伟业新一代MES项目正式启动</a></div>
                <div class="time">[2017-03-20]</div>
            </li>
            <li>
                <div class="title"><a href="">苏州吴中"环太湖"国际竞走和行走多日赛</a></div>
                <div class="time">[2017-03-20]</div>
            </li>
        </ul>
        
    </div>

</div>
<!--main end-->
{include file="public/foot" /}
</body>
</html>
